body {
  margin-bottom: -9px;
}

.hidden {
  display: none;
}

.popupMenuContainer {
  min-width: 200px;
  padding: 0px;
  margin: -9px;
  user-select: none;
}

.popupMenuHeaderContainer {
  width: 100%;
}

.popupMenuHeaderText {
  text-align: center;
  font-weight: bold;
  margin: 2px 0px;
}

.divider {
  border: .5px solid rgb(202, 194, 194);
  margin: 0px;
}

.popupMenuItem {
  margin: 0px;
  width: 100%;
  background-color: white;
}

.popupMenuItem:hover {
  background-color: rgb(225, 229, 230);
}

.popupMenuText {
  margin: 0px;
  padding: 3px 10px;
  white-space: nowrap;
}

.horizontalRule {
  margin: 0px;
}