body {
    background-color: #f1f1f1;
}

.modal {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000000;
    transition: all 0.5s ease-in-out;
  }
  
  .modalText {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    text-shadow: 0px 1px 1px black, 0px -1px 1px black, 1px 0px 1px black,
    -1px 0px 1px black;
  }

  .showModal {
    display: flex;
    visibility: visible;
    background-color: #0000007d;
    backdrop-filter: blur(1.5px);
  }

  .confirmBtnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #confirmBtn {
    margin-right: 15px;
  }
  
  #cancelBtn {
    margin-left: 15px;
  }

.contentContainer {
    min-width: 700px;
    width: 75%;
    margin: auto;
    max-width: 800px;
}

.controlsContainer {
    margin-bottom: 8px;
    background-color: #cecece;
    border-radius: 5px;
    box-shadow: 2px 3px 3px black;
    padding-bottom: 4px;
    max-width: 800px;
}

.contorlsHeaderText {
    margin: 8px;
}

.contorlsInstructionText {
    margin: 8px;
}

.saveGroupHeader {
    margin-left: 40px;
}

#saveGroupBtn {
    margin-left: 40px;
}

#tabList {
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
}

.faviconImg {
    height: 32px;
    width: 32px;
    padding: 5px;
}

.tabInfo {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    background-color: #cecece;
    border-radius: 5px;
    box-shadow: 2px 3px 3px black;
    transition: all .5s ease-in-out;
}

.tabUnselected {
    background-color: #8a8a8a;
    box-shadow: 1px 1px 1px black;
}

.urlInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3px;
    width: calc(100% - 45px);
}

.tabInfoText {
    margin: 2px 0px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 
.tabInfoText:first-child {
    border-bottom: 1px solid black;
} */